<h1>New user</h1>

<% form_for @user, :html => {:id => "frm-user"} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><span class="require">*</span><br />    
    <%= f.text_field :username, :id => "username", :class => "text" %>
  </p>
  <p>
    <%= f.label :password %><span class="require">*</span><br />
    <%= f.text_field :password, :id => "password", :class => "text" %>
  </p>
  <div id="meter-wrapper">
    <div id="lv1" class="meter"></div>
    <div id="lv2" class="meter"></div>
    <div id="lv3" class="meter"></div>
    <div id="lv4" class="meter"></div>
  </div>
  <div style="clear:both;"></div>
  <p>
    <%= f.label :email %><span class="require">*</span><br />
    <%= f.text_field :email, :id => "email", :class => "text" %>
  </p>
  <p>
    <%= f.submit 'Dang Ky', :class => "medium button" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
